<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="https://www.bradenn.com"/>
    <meta name="description" content="Hello. Check out some of my latest projects.">
    <meta name="keywords" content="braden, nicholson, braden nicholson, bradenn, bradencn, bradennicholson">
    <link rel="stylesheet" href="/static/custom.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Braden Nicholson</title>
</head>
<body>

<div class="col-center">
    <div class="line">
        <h1>{{ .title }}</h1>
        <div class="block">&nbsp</div>
    </div>
    <!-- If you are wondering, the blinking cursor after my name implies that the name was just written into an editor. There is still more to type.
    It is symbolic. It means that although I have published my work here, by no means does that mean I have finished learning.
    -->
    <span class="muted">{{ .desc }}</span>
    <h2>links</h2>
    <div class="element">
        <a href="https://github.com/bradenn" target="_blank">github</a>
        <div>GitHub is a repository hosting service. I use it to store and manage opensource programming projects.</div>
    </div>
    <div class="element">
        <a href="https://hub.docker.com/u/bradenn" target="_blank">docker</a>
        <div>Docker is a container platform that stores images in a similar format to GitHub.</div>
    </div>
    <h2>open-source projects</h2>
    <div class="element">
        <h3><a href="https://github.com/bradenn/monoverse" target="_blank">monoverse</a></h3>
        <span>Go: SDL, OpenGL</span>
        <div>Monoverse is a universe physics simulation engine.
        </div>
    </div>
    <div class="element">
        <h3><a href="https://github.com/bradenn/space-go-api" target="_blank">space-go-api</a></h3>
        <span>Go: gin</span>
        <div>This is an API made in go that serves information about the galaxy. The data was adapted from edsm.net.
            Although gin was a helpful framework, I no longer use it in favor of chi.
        </div>
    </div>
    <div class="element">
        <h3><a href="https://github.com/bradenn/Enclave" target="_blank">Enclave</a></h3>
        <span>Java: Spigot, Mongo</span>
        <div>enclave is a land claiming system designed for SMP Minecraft servers.</div>
    </div>
    <div class="element">
        <h3><a href="https://github.com/bradenn/syndicate-user" target="_blank">syndicate-user</a></h3>
        <span>Node: Express, Mongoose</span>
        <div>Syndicate::User is part of a microservice boilerplate collection, unfortunately, some of the other services
            have licenses that conflict with opensource.
        </div>
    </div>

    <h2>university projects</h2>
    <div class="element">
        <h3><a href="https://github.com/bradenn/barnes-hut" target="_blank">n-bodies</a></h3>
        <span>C++: SDL</span>
        <div>The objective of this project was to create and demonstrate the use of the barnes-hut n-bodies algorithm. This project is an SDL desktop application written in C++.
            After finishing this project, I rebuilt it in Golang and fixed a lot of the major issues, see <a href="https://github.com/bradenn/monoverse" target="_blank">monoverse</a></div>
    </div>
    <div class="element">
        <h3><a href="https://github.com/bradenn/turnin-nexus" target="_blank">turnin-nexus</a></h3>
        <span>Typescript: MongoDB, GraphQL, Passport</span>
        <div>An automated programming assignment grading system. This module handles the business logic of the turnin system. See 'client' and 'compute' modules for more.</div>
    </div>
    <div class="element">
        <h3><a href="https://github.com/bradenn/turnin-compute" target="_blank">turnin-compute</a></h3>
        <span>Go: Gin</span>
        <div>This modules handles compilation, grading, plagiarism checking, and other computationally intense operations. This module is part of the Turnin modules system.</div>
    </div>
    <div class="element">
        <h3><a href="https://github.com/bradenn/turnin-nexus" target="_blank">turnin-client</a></h3>
        <span>Vue: Apollo, GraphQL, Vue</span>
        <div>This is the Vue client used to interact with the Turnin system. This client interacts with the 'nexus' and 'file' modules via GraphQL & Rest respectively.</div>
    </div>
    <h2>opensource</h2>
    <div class="element">
        <h3 class="desc">personal projects</h3>
        <span>Almost always open source</span>
        <div>I think that it is important for developers to make their personal projects opensource.
            Having an ever expanding public repository of your work forces you to keep your projects clean and secure.
            I try to keep most of my projects opensource, but sometimes it isn't feasible.
            Right now I have about 78 repositories on my github, of those, only 38 are public.
        </div>
    </div>
    <h2>attributions</h2>
    <div class="element">
        <a href="https://github.com/atom/atom/tree/master/packages/one-dark-syntax" target="_blank">colors</a>
        <span>Atom One Dark</span>
        <div>The color scheme for this website is loosely adapted from the open source color scheme atom-one-dark,
            bundled with the Atom editor.
        </div>
    </div>
</div>


</body>

</html>